- content_for :title do 
    Corsego 
    \|
    = @course.title

= link_to "Courses", courses_path
\/
= link_to @course.title, course_path(@course)
%p

-# .row 
-#     .col-lg-6 
-#         = render 'courses/course', course: @course
-#     .col-lg-6
-#         - @lessons.each do |lesson|
-#             = render 'lessons/lesson', lesson: lesson 


= render 'courses/course', course: @course
%h3 
    = link_to 'Add lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-lg btn-primary'
.col-lg-6
    - @lessons.each do |lesson|
        = render 'lessons/lesson', lesson: lesson 
